@charset "utf-8";

body {
    margin: 0;
}

.main {
    background-image: url("./../image/main.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}